@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes slideDownFromMiddle {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.main-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #171717;
  display: flex;

  flex-direction: column;

  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  animation: slideDown 2s forwards;
}

.rectangle1 {
  top: 0;
  left: 0;
  animation-delay: 0.5s;
}

.rectangle2 {
  top: 0;
  left: 33.33%;
  animation-delay: 1s;
}

.rectangle3 {
  top: 0;
  left: 66.66%;
  animation-delay: 1.5s;
}

.content {
  color: white;
}

.mainbanner {
  width: 50%;
}
